@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  background: linear-gradient(rgb(0, 238, 255), rgb(182, 242, 255));
  height: 100%;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.background {
  height: 80vh;
  width: 80%;
  border-radius: 1rem;
  background-color: white;
  overflow-wrap: auto;
}

h1 {
  font-size: 14vw;
}

h2 {
  font-size: 12vw;
  margin: 0px
}

span {
  font-size: 8vw;
}

p {
  margin: 2rem 0 0 0;
  color: gray;
  font-size: 5vw;
}


@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
  width: 40%;
}

@media only screen 
and (min-width : 1224px) {
  width: 20%;
}